Topics :
1. Creating Dataframe
2. Dealing with rows and columns
3. operations: min, max, std, describe
4. Conditional Selection
5. set_index

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\Ankit\Pandas\2-DataFrame-Basics\weather_data.csv')

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
#To create a dataframe out of a python dictionary
#df = pd.dataframe(weather_data) -> here weather_data is the dictionary

In [5]:
df.shape

(6, 4)

In [6]:
rows,columns = df.shape

In [7]:
print(rows," ",columns)

6   4

In [8]:
#To print the first few initial rows
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
#to print the last few initial rows
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
#To print rows between row 2 to 4
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [11]:
#to print all the names of columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [12]:
#To print individual columns
df.day #or df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
#To find type of your column
type(df['event'])

pandas.core.series.Series

In [14]:
#To find datatype of your column
df.windspeed.dtype

dtype('int64')

In [15]:
#To print selective columns
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [16]:
df['temperature'].max()

35

In [17]:
df['temperature'].min()

24

In [18]:
df['temperature'].std()

3.8297084310253524

In [19]:
#to print the statistics
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

<b>Conditional Selection</b>

In [20]:
#Print all rows where temp > 32
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [21]:
#Print the row where temp is max
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [22]:
#Print the day and the temperature where temp is max
df[['day','temperature']][df.temperature == df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [23]:
#To see the range of index
df.index

RangeIndex(start=0, stop=6, step=1)

In [24]:
#To set the column 'day' as your index
df.set_index('day',inplace=True)

In [25]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [26]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [27]:
#To restore/reset to your original index
df.reset_index(inplace=True)

In [28]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [29]:
#To set the column 'event' as your index
df.set_index('event',inplace=True)

In [30]:
df.loc['Snow'] #index doesn't need to be unique

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7