https://blogs.oracle.com/connect/post/run-sql-data-queries-pandas

In [1]:
import pandas as pd
import cx_Oracle
import sqlalchemy

In [2]:
#This works as well
#engine = sqlalchemy.create_engine("oracle+cx_oracle://COVID:COVID@localhost/?service_name=orcl", arraysize=1000)

In [10]:
#this works too
engine = sqlalchemy.create_engine('oracle://COVID:COVID@127.0.0.1:1521/orcl')

In [4]:

#engine = sqlalchemy.create_engine('oracle+cx_oracle://COVID:COVID@127.0.0.1:1521/?service_name=orcl')

In [5]:
df = pd.read_sql_table("COVID_DEATHS",engine,columns=['continent','location','dates','population','total_cases'])

In [6]:
df.head()

  continent     location      dates  population  total_cases
0      Asia  Afghanistan 2020-05-23  39835428.0       9952.0
1      Asia  Afghanistan 2020-05-24  39835428.0      10668.0
2      Asia  Afghanistan 2020-05-25  39835428.0      11180.0
3      Asia  Afghanistan 2020-05-26  39835428.0      11917.0
4      Asia  Afghanistan 2020-05-27  39835428.0      12465.0

In [12]:
covid_sql = '''SELECT * FROM COVID_DEATHS'''
df = pd.read_sql_query(covid_sql,engine)
df

,iso_code,continent,location,dates,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-05-23,39835428.0,9952.0,736.0,507.143,215.0,10.0,...,0.169,1.36,None,None,None,None,None,None,None,None
1,AFG,Asia,Afghanistan,2020-05-24,39835428.0,10668.0,716.0,576.143,222.0,7.0,...,0.190,1.34,None,None,None,None,None,None,None,None
2,AFG,Asia,Afghanistan,2020-05-25,39835428.0,11180.0,512.0,586.857,223.0,1.0,...,0.179,1.32,None,None,None,None,None,None,None,None
3,AFG,Asia,Afghanistan,2020-05-26,39835428.0,11917.0,737.0,608.857,224.0,1.0,...,0.169,1.30,None,None,None,None,None,None,None,None
4,AFG,Asia,Afghanistan,2020-05-27,39835428.0,12465.0,548.0,617.143,230.0,6.0,...,0.154,1.28,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177721,YEM,Asia,Yemen,2020-07-31,30490639.0,1728.0,2.0,7.714,493.0,6.0,...,0.112,0.86,None,None,None,None,None,None,None,None
177722,YEM,Asia,Yemen,2020-08-01,30490639.0,1730.0,2.0,8.000,494.0,1.0,...,0.094,0.86,None,None,None,None,None,None,None,None
177723,YEM,Asia,Yemen,2020-08-02,30490639.0,1734.0,4.0,7.571,497.0,3.0,...,0.084,0.88,None,None,None,None,None,None,None,None
177724,YEM,Asia,Yemen,2020-08-03,30490639.0,1734.0,0.0,6.143,499.0,2.0,...,0.075,0.89,None,None,None,None,None,None,None,None
177725,YEM,Asia,Yemen,2020-08-04,30490639.0,1760.0,26.0,8.143,506.0,7.0,...,0.103,0.91,None,None,None,None,None,None,None,None